*{
    margin: 0;
    padding: 0;
}

body::before{
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: black;
    background-image: url(https://wallpapercave.com/wp/wp2722601.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body{
    display: flex;
    height: 100vh;
}

/* styling the container */
.container{
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background: white;
    box-shadow: 20px 20px 50px black; 
} 

/* styling the header */
.header{
    width: 100%;
    height: 8em;
}

.header-background{
    height: 100%;
    width: 100%;
}

/* styling the profile picture */
.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.picture{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 60px;
    border-style: solid;
    border-color: white;
}

/* styling the card info */

.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-age{
    position: relative;
    bottom: 50px;
}

.age{
   font-weight: 100; 
   color: #2B2A2A;
}

.city{
    margin: auto;
    position: relative;
    bottom: 50px;
    color: #2B2A2A;
}

/* styling the footer */
.footer{
    font-size: 0.8em;
    margin: 12px;
    display: flex;
    gap: 30px;
}

h4{
    font-size: 0.9em ;
    color: #2B2A2A;
}

.number{
    font-size: 1.5em;
}
